@media (max-width: 1199px) {
	.carousel-caption h2 {
		font-size: 2.25rem;
	}
	h2.sec-title {
		font-size: 2rem;
	}
	.top-match-area {
		margin-top: 0 !important;
	}
	.navbar-collapse ul.navbar-nav li.nav-item {
		margin: 0 30px;
	}
	.become-member .archery-club-info h2 {
		font-size: 2rem;
	}
	.member-btn {
		padding: 10px 20px;
	}
	.coach-section .coach-info {
		padding: 60px;
	}
	.coach-section .coach-info h2 {
		font-size: 2.25rem;
	}
}

@media (max-width: 991px) {	
	.navbar-collapse ul.navbar-nav li.nav-item {
		padding: 5px 0;
	}
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse ul.navbar-nav li:before {
		display: none;
	}
	.navbar-collapse ul.navbar-nav li {
		border-bottom: 1px solid #1651b5;
	}
	nav .navbar .menu {
		position: fixed;
		left: -100%;
		top: 0;
		background-color: var(--white);
		height: 100vh;
		max-width: 20rem;
		width: 100%;
		padding-top: 3.75rem;
		flex-direction: column;
		align-items: center;
		transition: all 0.5s ease;
	}
	nav .menu-btn,
	nav .menu .cancel-btn {
		display: block !important;
		color: var(--black-color);
	}
	nav .menu-btn {
		color: var(--black-color);
	}
	nav .menu-btn.active {
		color: var(--black-color);
	}
	.navbar.active .menu {
		left: 0;
	}
	nav .navbar .menu li a {
		font-size: 1.4375rem;
		color: var(--black-color-color);
		display: block;
		margin: 0.625rem 0;
		cursor: pointer;
	}
	h2.sec-title {
		font-size: 1.875rem;
	}
	.carousel-caption {
		width: 50%;
	}
	.carousel-caption h2 {
		font-size: 1.75rem;
	}
	.about-image-bx-two {
		display: none;
	}
	.join-club-section .archery-club-txt h2 {
		font-size: 2rem;
	}
	.join-club-section .archery-club-txt h3 {
		font-size: 24px;
	}
	.become-member .archery-club-info h2 {
		font-size: 1.25rem;
	}
	.become-member .archery-club-info p {
		font-size: 15px;
		line-height: 22px;
	}
	.member-btn {
		font-size: 15px;
		padding: 7px 15px;
	}
	.coach-section .coach-info {
		padding: 20px;
	}
	.coach-section .coach-info h2 {
		font-size: 1.5rem;
	}
	.coach-section .coach-info p {
		font-size: 14px;
		line-height: 20px;
	}
	.coach-section .coach-info h4 {
		font-size: 1.25rem;
	}
	.latest-new-section .news-btn {
		padding: 5px 15px;
	}
	.contact_form .wd-50 {
		width: 100% !important;
	}
	.srv-box {
		width: calc(100% / 2 - 1.25rem) !important;
	}
	.pricing-inner-bx {
		width: calc(100% / 2 - 1.25rem) !important;
		margin-bottom: 2rem;
	}
	.footer-widget {
		width: calc(100% / 2 - 1.25rem) !important;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.carousel-caption {
		width: 60%;
    	left: 50%;
    	top: 75%;
	}
	.carousel-caption h2 {
		font-size: 1.5rem;
	}
	.carousel-caption p {
		font-size: 15px;
		line-height: 22px;
		display: none;
	}
	.slider-section .carousel-inner .carousel-item {
		position: relative;
		height: 70vh;
	    min-height: 390px;
	}
	.slider-section .carousel-inner .carousel-item::before {
		top: 50%;
		bottom: 0;
		left: 0;
		right: 0;
        height: 35vh;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
        background-size: cover;
	}
	.slider-section .carousel-inner .carousel-item img {
		display: inline-block;
	    vertical-align: top;
	    width: 100%;
	    height: 50vh;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
	    position: absolute;
	    right: 0;
	    z-index: -1;
	}
	h2.sec-title {
		font-size: 1.5rem;
	}
	.partner-title {
		font-size: 30px !important;
		margin-bottom: 15px !important;
	}
	.top_header .call-btn,
	.top_header .login-btn,
	.top_header .register-btn {
		padding: 5px 15px;
		font-size: 13px;
	}
	img.cuttack-logo {
		display: none;
	}
	.social-icon-list {
		display: none;
	}
	.tagline-bx {
		display: none;
	}
	.about-image-bx {
		padding-left: 0;
	}
	.about-us-section {
		padding-bottom: 60px;
	}
	.about-content-bx h4 {
		font-size: 18px;
	}
	.about_inner_area {
		flex-wrap: wrap;
	}
	.about_image {
		width: 100% !important;
	}
	.about_txt {
		width: 100% !important;
	}
	.bg-image-area {
		height: 90vh;
	}
	.bg-image-area img {
		width: 100%;
		position: static;
	}
	.join-club-section .archery-club-txt h2 {
		font-size: 1.5rem;
	}
	.join-club-section .archery-club-txt h3 {
		font-size: 18px;
	}
	.coach-section {
		top: 0;
	    left: 0;
	    bottom: 0;
	    background-size: cover;
	    background-image: none;
	}
	.coach-section .coach-info {
		padding: 50px;
	}
	.coach-section .coach-info h2 {
	    font-size: 1.75rem;
	}
	.coach-section .coach-info p {
        font-size: 17px;
        line-height: 24px;
    }
    .gallery-section .gallery-box img {
    	width: 100%;
    	max-width: 100%;
    }
    .footer .official-detail h5 {
    	font-size: 24px;
    }
    .footer .official-detail ul li a {
    	font-size: 15px;
    }
	.latest-new-section .news-btn {
        padding: 6px 12px;
        font-size: 13px;
    }
	.portfolio-bx {
		width: calc(100% / 2 - 1.25rem) !important;
	}
	.contact-area-outer {
		flex-wrap: wrap;
	}
	.contact-detail-bx {
		width: 100% !important;
	}
	.contact-form-bx {
		width: 100% !important;
	}
	.wd-60 {
		width: 80% !important;
	}
	.footer .official-detail h6 {
		font-size: 14px;
		line-height: 26px;
	}
	p {
		font-size: 18px;
		line-height: 26px;
	}
}

@media (max-width: 640px) {
	h2.sec-title {
		font-size: 1rem;
	}
	.latest-new-section .news-btn {
		padding: 5px 15px;
	}
	.about-points {
		flex-wrap: wrap;
	}
	.mrm-box {
		width: 100% !important;
	}
	.srv-box {
		width: 100% !important;
	}
	.portfolio-bx {
		width: 100% !important;
	}
	.pricing-inner-bx {
		width: 100% !important;
	}
	.footer-widget {
		width: 100% !important;
	}
	.ft-dvr {
		width: 10% !important;
	}
	.sec-title h2 {
		font-size: 1.5rem !important;
	}
	.top_header_outer {
		flex-wrap: wrap !important;
		display: inline !important;
	}
	.top_header_left {
		text-align: center;
		padding: 5px 0;
	}
	.top_header_left ul {
		display: inline !important;
	}
	.top_header_right {
		text-align: center;
		padding: 5px 0;
	}
	.top_header_right ul {
		display: inline-flex !important;
	}
	.text_area {
		width: 90% !important;
	}
	.text_area h1 {
		font-size: 2rem !important;
		line-height: 2.5rem !important;
	}
	.footer-bottom p {
		font-size: 13px;
		line-height: 22px;
	}
}



























